<footer class="footer">
    <div class="container">
        <div class="logo">
            <a href="https://expantum.com">
                <img src="assets/images/logo.webp" alt="" />
            </a>
        </div>
        <ul class="soc">
            <li class="soc__item">
                <a href="https://expantum.com/facebook" target="_blank" class="soc__link">
                    <span class="soc__icon">@@include('../svg-icon/facebook.html')</span>
                </a>
            </li>
            <li class="soc__item">
                <a href="https://expantum.com/tiktok" target="_blank" class="soc__link">
                    <span class="soc__icon">@@include('../svg-icon/tiktok.html')</span>
                </a>
            </li>
            <li class="soc__item">
                <a href="https://medium.com/@expantum" target="_blank" class="soc__link">
                    <span class="soc__icon"> @@include('../svg-icon/medium.html') </span>
                    <span class="soc__text">Medium</span>
                </a>
            </li>
            <li class="soc__item">
                <a href="https://discord.gg/UvrCGHz6" target="_blank" class="soc__link">
                    <span class="soc__icon"> @@include('../svg-icon/discord.html') </span>
                    <span class="soc__text">Discord</span>
                </a>
            </li>
            <li class="soc__item">
                <a href="https://twitter.com/expantum" target="_blank" class="soc__link">
                    <span class="soc__icon"> @@include('../svg-icon/twitter.html') </span>
                    <span class="soc__text">Twitter</span>
                </a>
            </li>
            <li class="soc__item">
                <a href="https://www.youtube.com/channel/UCnEhV8bQdtwXXO4-UmsYjzA" target="_blank" class="soc__link">
                    <span class="soc__icon"> @@include('../svg-icon/youtube.html') </span>
                    <span class="soc__text">YouTube</span>
                </a>
            </li>
            <li class="soc__item">
                <a href="https://opensea.io/collection/expantum-buildings" target="_blank" class="soc__link">
                    <span class="soc__icon"> @@include('../svg-icon/opensea.html') </span>
                    <span class="soc__text">OpenSea</span>
                </a>
            </li>
        </ul>
        <div class="copyright">
            <span class="copyright-text">©<span class="current-year"></span> Expantum. All rights reserved. </span>
        </div>
        <div style="width: 100%; margin-top: 30px; text-align: center; color: #787878; font-size: 14px">
            Expantum Services and Expantum products are not available in the United States or other OFAC prohibited jurisdictions.
            <br />
            Hence, citizens of U.S. and OFAC pro prohibited jurisdictions are not allowed to participate in Expantum genesis event.
        </div>
    </div>
</footer>
