<header class="header">
    <div class="container header__wrap">
        <div class="logo">
            <a href="index.html">
                <img src="assets/images/logo.webp" alt="">
            </a>
        </div>
        <nav class="nav">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Expantum NFT</a>
                </li>
                <li>
                    <a href="#">Documentation</a>
                </li>
            </ul>
        </nav>
        <ul class="soc">
            <li class="soc__item">
                <a href="https://medium.com/@expantum" target="_blank" class="soc__link">
                    <span class="soc__icon">
                        @@include('../svg-icon/medium.html')
                    </span>
                </a>
            </li>
            <li class="soc__item">
                <a href="https://discord.gg/expantum" target="_blank" class="soc__link">
                    <span class="soc__icon">
                        @@include('../svg-icon/discord.html')
                    </span>
                </a>
            </li>
            <li class="soc__item">
                <a href="https://twitter.com/expantum" target="_blank" class="soc__link">
                    <span class="soc__icon">
                        @@include('../svg-icon/twitter.html')
                    </span>
                </a>
            </li>
            <!--<li class="soc__item">
                <a href="" class="soc__link">
                    <span class="soc__icon">
                        @@include('../svg-icon/linkedin.html')
                    </span>
                </a>
            </li>-->
        </ul>
    </div>
</header>